/*---  Header --*/

.header {
    background-color: var(--back-color);
}

nav {
    background-color: var(--back-color);
}

nav li {
    color: white;
}

nav a {
    margin-right: 20px;
    font-size: 20px;
}

nav .login {
    width: 100px;
}

.lego {
    display: block;
    width: 80px;
}


/*--- Footer ---*/

footer {
    background-color: var(--back-color);
}